/laravel-lesson-1/laravel-app/.phpunit.cache
/laravel-lesson-1/laravel-app/node_modules
/laravel-lesson-1/laravel-app/public/build
/laravel-lesson-1/laravel-app/public/hot
/laravel-lesson-1/laravel-app/public/storage
/laravel-lesson-1/laravel-app/storage/*.key
/laravel-lesson-1/laravel-app/storage/pail
/laravel-lesson-1/laravel-app/vendor
/laravel-lesson-1/laravel-app/.env
/laravel-lesson-1/laravel-app/.env.backup
/laravel-lesson-1/laravel-app/.env.production
/laravel-lesson-1/laravel-app/.phpactor.json
/laravel-lesson-1/laravel-app/.phpunit.result.cache
/laravel-lesson-1/laravel-app/Homestead.json
/laravel-lesson-1/laravel-app/Homestead.yaml
/laravel-lesson-1/laravel-app/npm-debug.log
/laravel-lesson-1/laravel-app/yarn-error.log
/laravel-lesson-1/laravel-app/auth.json
/laravel-lesson-1/laravel-app/.fleet
/laravel-lesson-1/laravel-app/.idea
/laravel-lesson-1/laravel-app/.nova
/laravel-lesson-1/laravel-app/.vscode
/laravel-lesson-1/laravel-app/.zed
